# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
artifacts/
docs/build
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
core

# Python IDEs
.idea/
.vscode/

# nsys files
*.qdrep
*.qdstrm

# Virtual envs
venv/

# Misc
nogit/

**/*egg-info/
update_authors.sh

