# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
artifacts/
docs/build
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
core

# Misc
nogit/

# Python IDEs
.idea/
.vscode/

# nsys files
*.qdrep
*.qdstrm
*.sqlite
examples/*.sqlite
examples/*.qdrep

# Virtual envs
venv/

**/*egg-info/

