recursive-include nvtx_plugins/ *.cc
recursive-include nvtx_plugins/ *.cu
recursive-include nvtx_plugins/ *.h
recursive-include nvtx_plugins/ *.hpp
recursive-include nvtx_plugins/ *.py
recursive-include nvtx_plugins/ *.gitkeep

include *.lds
include *.py
include *.txt
include requirements/*.txt

include LICENSE
include README.rst
include CHANGELOG.rst
